---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/" style="margin-right: 5px">Home</a>
		<a href="/blog" style="margin-right: 5px">Blog</a>
		<a href="/about" style="margin-right: 5px">About</a>
		<h1>Blog</h1>
		<p>Posting information about learning Astro.</p>
	</body>
</html>
